.category-selection-panel {
    width: 50%;
    min-width: 300px;
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block;
    padding: 2%;
}

.cat-select-btn {
    display: inline-block;
    padding: 4% 5%!important;
}

.backpack-photo {
    width: 100%;
}

.find-out-btn {
    font-size: calc(1vw + 1em);
    margin: 5%;
    padding: 2%;
}

.find-out-btn:hover {
    font-weight: 600;
    color: black !important;
    background-color: white !important;
}

.good-wrapper {
    margin-top: 5%;
}